<header>
  
  <h1> <img src="/images/logo.svg" alt="A logo" width="50px" class="logo"> <a href="/user/" > MIXD</a>  </h1>

  <div class="navigation">

    <span class="nav-alink">
      <a href="/"> Home</a>
    <span class="nav-alink">
      <a  href="/user/posts"> My Posts </a>
    </span>    
    
    <span class="nav-alink">
      <a  href="/user/newArticle"> New Article </a>
    </span>

    <span class="nav-alink">
      <a href="/user/logout" > Logout </a>
    </span>

  </div>

</header>