  <header>
    <h1> <img src="/images/logo.svg" class="logo" alt="A logo" width="50px"> <a href="/" > MIXD</a> </h1>
    <div class="navigation">
      <span class="nav-alink">
        <a href="/"> Home</a>
      <span class="nav-alink">
        <a href="/user/login"> Log In</a>
      </span><span class="nav-alink">
        <a href="/user/register"> Register</a>
      </span>
    </div>
  </header>